<!-- List of entries page -->

<h1> <%= @places ["name"] %> </h1>

<!-- <ul>
  <!% for element in @entries%>
    <li> <!%= element["title"]%> <%= element["posted_on"]%> <%= element["description"]%>
  <!% end %>
</ul>  -->

